.dropbtn {
  background-color: #6426ea;
    color: white;
    /* padding: 11px 30px; */
    font-size: 16px;
    border: none;
    outline: none;
}
.dropbtn{
  padding: 12px 42px
}
.logoutpage1 {
  margin-top: 3rem;
  margin-right: 3rem;
  text-align: right;
}